<launch>
	<!-- CAN namespace -->	
	<!-- TODO add robot name and move to a common pkg -->	
	<arg name="can_ns"/>

	<group ns="$(arg can_ns)">
		<!-- Load parameters -->
		<rosparam file="$(find r2p_sea_arm_description)/config/r2p_sea_arm.yaml" command="load"/>
		
		<!-- Launch the SocketCAN node -->
		<node name="osa_can_layer_node" pkg="osa_communication" type="osa_can_layer" output="screen" respawn="false" launch-prefix="xterm -e"> 
			<param name="robot_namespace" type="string" value="/$(arg can_ns)" />
		</node>

		<!-- Launch command filter -->
		<node name="osa_command_filter_node" pkg="osa_control" type="osa_command_filter" output="screen" respawn="true" launch-prefix="xterm -e">
			<param name="robot_namespace" type="string" value="/$(arg can_ns)" />
		</node>
		
		<!-- Launch command builder -->
		<node name="osa_command_builder_node" pkg="osa_control" type="osa_command_builder" output="screen" respawn="true" launch-prefix="xterm -e"> 
			<param name="robot_namespace" type="string" value="/$(arg can_ns)" />		
		</node>
	</group>
</launch>
