<?xml version="1.0"?>

<launch>
	<include file="$(find r2p_sea_arm_bringup)/launch/r2p_sea_arm_bringup.launch">
		<arg name="can_ns" value="sea_arm" />
	</include>

<!-- Suppose the joy node is already running -->

	<node name="osa_sea_arm_teleop" pkg="r2p_sea_arm_apps" type="osa_r2p_sea_arm_xbox_joy" output="screen" respawn="true" launch-prefix="xterm -e"/>
	<node name="osa_xbox_joy_conductor" pkg="r2p_sea_arm_apps" type="osa_xbox_joy_conductor" output="screen" respawn="true"/>

</launch>
